requests
pydub
openai
numpy==1.26.3
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
ctranslate2==4.4.0
faster-whisper==1.1.0
tabulate
bs4
selenium
html5lib
selenium
backoff
psycopg2
graphene
uvicorn 
httpx
pandas
boto3
aiohttp