requests
pydub
openai
openai-whisper
whisper-timestamped
PyAudio
tabulate
bs4
selenium
html5lib
selenium
backoff
psycopg2
python-digitalocean
graphene
fastapi 
uvicorn 
httpx
pandas
boto3
aiohttp